<ion-grid class="hideOnPhone">
  <ion-row>
    <ion-col>

      <!--<div (blur)="onBlur($event)" tabindex="1">-->
        <label>Status</label>
        <angular2-multiselect [data]="filterValues.statusesList"
                              [(ngModel)]="filterValues.selectedStatuses"
                              [settings]="filterSettings.settingsStatuses"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)">
          <c-item>
            <ng-template let-item="item">
              <label>{{item.itemName}}</label>
              <span style="float: right">({{item.itemCount}})</span>
            </ng-template>
          </c-item>
        </angular2-multiselect>
      <!--</div>-->
    </ion-col>
    <ion-col>
      <!--<div (blur)="onBlur($event)" tabindex="1">-->
        <label>Country</label>
        <angular2-multiselect [data]="filterValues.countriesList"
                              [(ngModel)]="filterValues.selectedCountries"
                              [settings]="filterSettings.settingsCountries"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)">
          <c-item>
            <ng-template let-item="item">
            <label>{{item.itemName}}</label>
            <span style="float: right">({{item.itemCount}})</span>
            </ng-template>
          </c-item>
        </angular2-multiselect>
      <!--</div>-->
    </ion-col>
    <ion-col>
      <label>Claim Type</label>
      <angular2-multiselect [data]="filterValues.claimTypesList"
                            [(ngModel)]="filterValues.selectedClaimTypes"
                            [settings]="filterSettings.settingsClaimTypes"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
        <c-item>
          <ng-template let-item="item">
            <label>{{item.itemName}}</label>
            <span style="float: right">({{item.itemCount}})</span>
          </ng-template>
        </c-item>
      </angular2-multiselect>
    </ion-col>
    <ion-col>
      <label>Beneficial Owner</label>
      <angular2-multiselect [data]="filterValues.beneficialOwnersList"
                            [(ngModel)]="filterValues.selectedBeneficialOwners"
                            [settings]="filterSettings.settingsBeneficialOwners"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
        <c-item>
          <ng-template let-item="item">
            <label>{{item.itemName}}</label>
            <span style="float: right">({{item.itemCount}})</span>
          </ng-template>
        </c-item>
      </angular2-multiselect>
    </ion-col>
  </ion-row>
  <!--<div text-center [hidden]="showExpandedSearch" [@mapAnim]>-->
    <!--<button icon-only class="background-white fill-width" (click)="onShowHideExtSearch();">-->
      <!--<ion-icon name="ios-arrow-down"></ion-icon>-->
    <!--</button>-->
  <!--</div>-->
  <ion-row *ngIf="showExpandedSearch" [@mapAnim]>
    <ion-col>
      <!--<div (blur)="onBlur($event)" tabindex="1">-->
        <label>Portfolio</label>
        <angular2-multiselect [data]="filterValues.portfolioList"
                              [(ngModel)]="filterValues.selectedPortfolios"
                              [settings]="filterSettings.settingsPortfolios"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)">
          <c-item>
            <ng-template let-item="item">
              <label>{{item.itemName}}</label>
              <span style="float: right">({{item.itemCount}})</span>
            </ng-template>
          </c-item>
        </angular2-multiselect>
      <!--</div>-->
    </ion-col>
    <ion-col>
      <!--<div (blur)="onBlur($event)" tabindex="1">-->
        <label>Dividend Payment Date</label>
        <angular2-multiselect [data]="filterValues.countriesList"
                              [(ngModel)]="filterValues.selectedCountries"
                              [settings]="settings"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)">
        </angular2-multiselect>
      <!--</div>-->
    </ion-col>
    <ion-col>
      <label>Claim Submission Date </label>
      <angular2-multiselect [data]="filterValues.claimTypesList"
                            [(ngModel)]="selectedItems"
                            [settings]="settings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
      </angular2-multiselect>
    </ion-col>
    <ion-col>
      <label>Payment Date</label>
      <angular2-multiselect [data]="filterValues.claimTypesList"
                            [(ngModel)]="selectedItems"
                            [settings]="settings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
      </angular2-multiselect>
    </ion-col>
  </ion-row>
  <div text-center >
    <button icon-only class="background-white fill-width" (click)="onShowHideExtSearch();">
      <ion-icon [hidden]="!showExpandedSearch" name="ios-arrow-up"></ion-icon>
      <ion-icon [hidden]="showExpandedSearch" name="ios-arrow-down"></ion-icon>
    </button>
  </div>
  <div text-center>
    <button ion-button (click)="onBlur();">
      Filter picklists
    </button>
  </div>
</ion-grid>

<ion-grid class="showOnPhone" *ngIf="showFiltersMobile">
  <ion-row>
      <!--<div (blur)="onBlur($event)" tabindex="1" class="fill-width">-->
        <angular2-multiselect [data]="statusesList"
                              [(ngModel)]="selectedStatuses"
                              [settings]="settings"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)">
        </angular2-multiselect>
      <!--</div>-->
  </ion-row>
  <ion-row>
      <!--<div (blur)="onBlur($event)" tabindex="1" class="fill-width">-->
        <angular2-multiselect [data]="countriesList"
                              [(ngModel)]="selectedCountries"
                              [settings]="settings"
                              (onSelect)="onItemSelect($event)"
                              (onDeSelect)="OnItemDeSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelectAll)="onDeSelectAll($event)">
        </angular2-multiselect>
      <!--</div>-->
  </ion-row>
  <ion-row>
    <!--<div (blur)="onBlur($event)" tabindex="1" class="fill-width">-->
      <angular2-multiselect [data]="itemList"
                            [(ngModel)]="selectedItems"
                            [settings]="settings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
      </angular2-multiselect>
    <!--</div>-->
  </ion-row>
  <ion-row>
    <!--<div (blur)="onBlur($event)" tabindex="1" class="fill-width">-->
      <angular2-multiselect [data]="itemList"
                            [(ngModel)]="selectedItems"
                            [settings]="settings"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
      </angular2-multiselect>
    <!--</div>-->
  </ion-row>
</ion-grid>
